#dropdown {
  
  #filter-button {
    padding: 3px;
    cursor: pointer;
  }
  #dropdown-list {
    display: none;
    background-color: red;

    li {
      cursor: pointer;
      
      &:hover {
        background-color: white;
      }
    }
  }
}