#dropdown {

  #dropdown-list {
    display: none;
    background-color: red;
    padding: 10px;

    option {
      cursor: pointer;

      &:hover {
        background-color: white;
      }
    }
  }
}